body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
}



.game-container{
    background-image: url("whotDeck/bgImage.png");
    width: 500px;
    height: 520px;
    position: relative;
    background-size: cover;
    overflow: hidden;
}

#pick-card{
    width: 100px;
    position: absolute;
    top: 150px;
    right: 10px;
    

}

#cards-more{
    position: absolute;
    right: 10px;
    bottom: 115px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    background-color: blue;
    padding: 5px 5px;
    border-radius: 20px;
    opacity: 0.5;
    display: none;

}

#played-card img{
    position: absolute;
    width: 100px;
    left: 175px;
    top: 175px;
}

#cards-left {
    color: rgb(61, 51, 255);
    position: absolute;
    right: 40px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    top: 170px;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    opacity: 0.5;
}

#player-cards {
display: flex;
position: absolute;
bottom: 0px;
width: 500px;
}

#player-cards img{
    width: 100px;
}

#computer-cards {
    display: flex;
    position: absolute;
    top: 0px;
    }

#computer-cards img{
    width: 100px;
}

.pick-slide {
    display: flex;
    position: absolute;
    left: 25%;
    animation: pickAnimation 0.2s ease-in-out forwards;
    width: 100px;
    bottom: 0px;
}

.play-slide {
    display: flex;
    position: absolute;
    left: 35%;
    width: 100px;
    bottom: 175px;
    animation: slideUp 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95) forwards;
}

.play-slide img, #computer-play-slide img, .computer-pick-slide img {
    width: 100px;
}

.computer-play-slide{
    position: absolute;
    top:  34%;
    left: 35%;
    animation: computerPlay 0.2s ease-in-out forwards;
}

.computer-pick-slide{
    position: absolute;
    left: 35%;
    animation: computerPick 0.2s ease-in-out forwards;
}


.pick-slide img {
    width: 100px;
}

.showbtn {
    position: absolute;
    top: 66%;
    display: none;
}

#showprevbtn{
    left: 10px;
}

#shownextbtn{
    right: 10px;
    
}

.dashboard{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 150px;
    background-color: bisque;
    border: 1px solid black;
}

@keyframes pickAnimation {
    from {
        transform: translateX(190%) translateY(-110%);
    }

    to {
        transform: translateX(0%) translateY(0%);
    }
}

@keyframes slideUp {
    from {
        transform: translateY(120%);
    }

    to {
        transform: translateY(0%);
    }
}

@keyframes computerPlay {
    from {
        transform: translateY(-120%);
    }

    to {
        transform: translateY(0%);
    }
}

@keyframes computerPick {
    from {
        transform: translateY(110%) translateX(200%);
    }

    to {
        transform: translateY(0%) translateX(0%);
    }
}


