#string-input{
    width: 60vw;
    height: 60vh;
    display: flex;
    justify-self: center;
    background-color: purple;
    color: White;
    font-size: medium;
}

#string-input::placeholder {
    font-size: x-large;
    text-align: center;
    display: flex;
   
}

#result-display {
    text-align: center;
    font-size: x-large;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


.result-item{
    margin: 10px;
    display: flex;
    flex-direction: column;
    gap: 0px;
    
}

.item-value{
    background-color: skyblue;
    border-radius: 10px;
    margin: 0px;

}

.animated-slide{
    animation: slideUp 0.05s ease-in forwards;
}



.item-name{
    margin: 0px;
    font-size: medium;
    padding: 0px 20px;
    
}

@keyframes slideUp {
    from{transform: translateY(25%)
    }

    to{
        transform: translateY(0);
    }
}